{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<form method="POST" >
	{% if messages %}
        {% for message in messages %}
          <li>{{message}}</li>
        {% endfor %}
      {%endif%}
	{% csrf_token %}
	<a href="{% url 'home' %}">Home</a>
	<h1>register form</h1>
	{% render_field form.username type="username" class="" placeholder="Enter username" %}
	{% render_field form.email type="email" class="" placeholder="Enter email" %}
	{% render_field form.password type="password" class="" placeholder="Enter password" %}
	<button type="submit">Register</button>
</form>
{% endblock %}